<!-- defino como quiero que se muestre la informacion heredada del padre -->
<mat-card>
  <mat-card-header>
    <mat-card-title>{{hero.superhero}}</mat-card-title>
    <mat-card-subtitle>{{hero.alter_ego}}</mat-card-subtitle>
  </mat-card-header>

  <!-- las imagenes tienen como nombre su mismo id, por ejemplo: dc-arrow.jpg, dc-arrow es el id de ese heroe en particular. -->
  <img mat-card-image  [src]="hero | heroImage" [alt]="hero.superhero"> <!-- el uso de llaves cuadradas alrededor de un atributo permite que el valor del atributo sea dinámico y que Angular lo evalúe y actualice en tiempo real según los datos del componente. El valor de [src] va a ser una url de este tipo: assets/heroes/dc-batman.jpg o de este tipo: assets/no-image.png-->

  <mat-card-content class="mt-2">
    <h4>{{hero.publisher}}</h4>
    <p>
      <strong>Primera aparición</strong>{{hero.first_appearance}}
      <br>

      <mat-chip-listbox ngSkipHydration>
        <mat-chip *ngFor="let name of hero.characters.split(',') | slice:0:3"> <!-- hero.characters es una cadena de texto que contiene una lista de nombres de personajes separados por comas. .split(',') convierte una cadena de texto en un array de nombres de personajes, usando la coma como delimitador. La coma se elimina en el proceso, separando la cadena en elementos individuales del array.slice:0:3 toma los primeros tres elementos del array resultante de hero.characters.split(',').-->
          {{name}}
        </mat-chip>
      </mat-chip-listbox>
    </p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-button mat-raised color="primary" [routerLink]="['/heroes/edit', hero.id]"> <!-- [routerLink] es una directiva de Angular utilizada para vincular una ruta a un enlace como un botón. Este array define la ruta dinámica. La primera parte, '/heroes/edit', es una ruta fija. hero.id es una parte dinámica de la ruta permite que la URL incluya el ID del héroe específico.Angular concatena ambos segmentos automáticamente con una barra (/) entre ellos. Este código genera un enlace que navega a una ruta como '/heroes/edit/1', donde 1 es el id del héroe actual. Si hero.id es 2, el enlace sería '/heroes/edit/2'. La ruta te lleva a NewPageComponent-->
      <mat-icon>edit</mat-icon>
      Editar
    </button>

    <span class="spacer"></span>

    <button mat-button mat-raised  [routerLink]="['/heroes', hero.id]"> <!-- La ruta te lleva a HeroPageComponent -->
      <mat-icon>more_horiz</mat-icon>
    </button>

  </mat-card-actions>
</mat-card>
