
<div class="flex flex-column p-2">
  <h3>Buscador</h3>

  <mat-form-field>
    <mat-label>Buscador de héroes</mat-label>
    <input
      type="text"
      matInput
      [formControl] ="searchInput"
      (input) = "searchHero()"
      [matAutocomplete]="auto"
      > <!--[formControl]="searchInput": vincula el FormControl denominado searchInput al elemento input. Los cambios en el input actualizarán el FormControl del .ts automáticamente.-->
      <!--(input) = 'searchHero()':  el método searchHero() se debe llamar cada vez que el evento input se dispara. Es decir, cada vez que el usuario escribe o cambia el contenido del campo de entrada.  -->

      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectedOption($event)">
          <mat-option *ngFor="let hero of heroes" [value]="hero"> <!-- Sin [value]="hero": No podriamos acceder fácilmente al objeto hero completo cuando una opción es seleccionada. Esto es especialmente importante si necesitamos manipular o mostrar más información del héroe seleccionado en otras partes del componente.  -->
            {{hero.superhero}}
          </mat-option>

          <mat-option *ngIf="heroes.length === 0 && searchInput.value && searchInput.value.length > 0" value=""> <!-- Sin value="": La opción seguirá indicando que no se encontraron resultados, pero no tendrá un valor asociado explícito. -->
            No se encontró nada con el término {{searchInput.value}}
          </mat-option>
      </mat-autocomplete>
  </mat-form-field>



<!-- defino como quiero que se muestre la informacion de selectedHero solo si selectedHero tiene un valor, sino nada de esto se va a mostrar -->
<mat-card *ngIf="selectedHero">
  <mat-card-header>
    <mat-card-title>{{selectedHero.superhero}}</mat-card-title>
    <mat-card-subtitle>{{selectedHero.alter_ego}}</mat-card-subtitle>
  </mat-card-header>

  <!-- las imagenes tienen como nombre su mismo id, por ejemplo: dc-arrow.jpg, dc-arrow es el id de ese heroe en particular. -->
  <img mat-card-image  [src]="selectedHero | heroImage" [alt]="selectedHero.superhero"> <!-- el uso de llaves cuadradas alrededor de un atributo permite que el valor del atributo sea dinámico y que Angular lo evalúe y actualice en tiempo real según los datos del componente. El valor de [src] va a ser una url de este tipo: assets/heroes/dc-batman.jpg o de este tipo: assets/no-image.png-->

  <mat-card-content class="mt-2">
    <h4>{{selectedHero.publisher}}</h4>
    <p>
      <strong>Primera aparición</strong>{{selectedHero.first_appearance}}
      <br>

      <mat-chip-listbox ngSkipHydration>
        <mat-chip *ngFor="let name of selectedHero?.characters | slice:0:3"> <!-- hero.characters es una cadena de texto que contiene una lista de nombres de personajes separados por comas. .split(',') convierte una cadena de texto en un array de nombres de personajes, usando la coma como delimitador. La coma se elimina en el proceso, separando la cadena en elementos individuales del array.slice:0:3 toma los primeros tres elementos del array resultante de hero.characters.split(',').-->
          {{name}}
        </mat-chip>
      </mat-chip-listbox>
    </p>
  </mat-card-content>
</mat-card>

</div>
